/src/components/ui/ExperimentalPlatforms/
/src/components/ui/SmartReviewBuilder.tsx
/src/components/ui/SmartReviewBuilderBackup.tsx
/src/app/clientreviews/
/src/app/instorereviews/
/src/app/customer/
/src/app/social-business/
/src/app/social-icon/
/src/app/home/
/src/app/authentication/
/src/app/objectives/
/src/app/personalreviews/
/src/app/rewards/
/src/app/avatar/
/src/components/Icons/